{
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost;Database=POS;User Id=sa;Password=YOUR_PASSWORD;TrustServerCertificate=True;"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  }
}
